.gallery {
  line-height: 0;
  column-count: 4;
  column-gap: 0px;
  margin-bottom: 60px;
}

.gallery .galleryItem {
  display: block;
  width: 100%;
}

@media(max-width: 900px) {
  .gallery {
    column-count: 3;
  }
}

@media(max-width: 600px) {
  .gallery {
    column-count: 2;
  }
}

@media(max-width: 400px) {
  .gallery {
    column-count: 1;
  }
}